// Button Add Event
.new-event-btn-container{
    display: flex;
    justify-content: $center;
    padding-bottom: 5%;
    .new-event-btn{
        padding: 2%;
        cursor: pointer;
        border: none;
        border-radius: 20px;
        background-color: $jaune_clair;
        width: 20vw;
    }
}
// Button Save
.content-save-choice-btn{
    display: flex;
    justify-content: center;
    .save-choice-btn{
        //position : absolute;
        //bottom : -10vw;
        //left: 2vw;
        //margin-left: -77vw;
        //margin-bottom: -35vw;
        font-family: $roboto;
        padding: 1rem;
        cursor: pointer;
        border: none;
        border-radius: 20px;
        background-color: $jaune_clair;
        width: 8rem;
        display: flex;
        justify-content: center;
    
        &:hover{
            background: $jaune_fonce;
        }
    
        &:active{
            background: $bleu_clair;
        }
        }
}

.button{
    display: flex;
    justify-content: center;
    padding: 4rem 0 1rem 0;
    gap: 3rem;
}

// Button Delete
.event__delete-btn, .event__edit-btn{
    font-family: $roboto;
    padding: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: red;
}

// Button Edit
.event__edit-btn{
    background-color: gray;
}