@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.main-header{
    display: flex;
    padding: 1rem 0 1rem 0;
    margin-bottom: 2rem;
    justify-content: $center;
    background: $fond;
    .main-header__img{
        width: 10rem;
        height: auto;
    }
}

@media screen and (min-width:620px){
    .main-header{
        padding: 0;
    }

    .main-header__img{
        height: 7em;
    }

    .new-event-btn{
        height: 4em;        
    }

}