@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.main-header{
    display: flex;
    padding: 10% 0% 10% 0%;
    margin-bottom: 5%;
    justify-content: $center;
    background: $fond;
    .main-header__img{
        width: 40%;
    }
}
.new-event-btn-container{
    display: flex;
    justify-content: $center;
    padding-bottom: 5%;
    .new-event-btn{
        padding: 2%;
        cursor: pointer;
        border: none;
        border-radius: 20px;
        background-color: $jaune_clair;
        width: 20vw;
    }
}

@media screen and (min-width:620px){
    .main-header{
        padding: 0;
    }

    .main-header__img{
        height: 7em;
    }

    .new-event-btn{
        height: 4em;        
    }

}