@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.main-header{
    display: flex;
    padding: 1rem 0 1rem 0;
    margin-bottom: 2rem;
    justify-content: $center;
    background: $fond;
    .main-header__img{
        width: 10rem;
        height: auto;
    }
}
.new-event-btn-container{
    display: flex;
    justify-content: $center;
    padding-bottom: 2rem;
    .new-event-btn{
        padding: 1em;
        cursor: pointer;
        border: none;
        border-radius: .8rem;
        background-color: $jaune_clair;
        text-transform: capitalize;
        &:hover{
            background-color: $bleu_fonce;
            color: #fff;
        }
    }
}