.event{
    margin: 0 auto;
    max-width: 35rem;
    width: 95%;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    overflow-x: scroll;

    .event__delete-btn,
    .event__edit-btn{
        cursor: pointer;
        border: none;
        padding: .5em 1em;
        border-radius: .5rem;
        color: #fff;
        &:hover{
            opacity: 0.7;
        }
    }
    
    .event__delete-btn{
        margin-top: 2rem;
        background-color: #f23a3a;
        
    }
    .event__edit-btn{
        background-color: $bleu_fonce;
    }
}

.event__heading{
    font-size: clamp(1.3rem, 0.6479rem + 1.5023vw, 2rem);
    color :black;
    font-family: $roboto;
    margin-bottom: .6em;
}

.event__desc{
    font-size: 1rem;
    color : black;
    font-family: $roboto;
    font-style: italic;
    margin-bottom: 1em;
}


.event__table{
    border-collapse: collapse;
    overflow:hidden ;
    border-top-left-radius: 0.9375rem;
    border-top-right-radius: 0.9375rem;
    padding : 1rem;
    
    tr:nth-child(even){
        background-color: white;
    }
    
    .event__table__header-group{
    background-color: $bleu_fonce;
    color: white;

        .event__table__header{
            font-size : 1.2rem;
            padding : 0.8rem;
            width: 100%;
        }
    
    }

}

.event__table__antendee{
    font-size: 1.2rem;
    height : 3rem;
   

    .event__table__antendee__name{
    padding : 1em;

    }
    .event__table__antendee__choice{
    text-align: center;
    }
}


.event__table__footer{
    .attendee-input{
        color : $bleu_fonce;
        font-style: italic;
        padding: 0.4em;
        border-radius: 0.625rem;
        width : 100%;
        border: 1px solid $fond;
        margin-left: 1em;
        
    }

    .form-control{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .6em;
        font-family: $roboto ;
        & + .form-control{
            margin-top: .6em;
        }
    }

    
    
}
.content-save-choice-btn{
    display: flex;
    justify-content: center;
    .save-choice-btn{
        padding: 1em;
        cursor: pointer;
        border: none;
        border-radius: .5rem;
        background-color: $jaune_clair;
        font-size: .875rem;

        &:hover{
            background: $bleu_clair;
            color: #fff;
        }
    }
}